<!DOCTYPE html>
<html lang='fr'>
<head>
  <title>SP - Intégration Web</title>
  <!-- bootstrap -->
	<link rel="stylesheet" href="stylesheets/bootstrap/css/bootstrap.min.css">
  <!-- personal style -->
	<link rel="stylesheet" href="stylesheets/css/style.css">
</head>

<body>
  <div class="main-container">  <!-- Main container -->

    <div class="container">  <!-- container -->

    <!-- HEADER -->
    <div class="row">
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
    </div>
    <div class="row">
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
    </div>
    <div class="row">
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
      <div class="col-md-1">.col-md-1</div>
    </div>
      <header>
          <div>
              <h1>Archi-Wiki</h1>
              <a href="#"><img src="" alt="Archi Wiki" /></a>
              <p>Partageons la ville, ses batîments, ses lieux...</p>
          </div>
          <nav>
              <a href="#">L'association</a>
              <a href="#">Open Data</a>
              <a href="#">Faire un don</a>
              <a href="#">English</a>
              <a href="#">Deutsch</a>
              <a href="#" class="fa fa-search"></a>
              <a href="#" class="fa fa-search"></a>
          </nav>
      </header>

      <!-- MAIN CONTENT -->


      <section class="full-width">
          <article>
              <immg src="./assets/img/image-en-avant.jpg" alt=""/>
              <div>
                  <h5>Lumière sur...</h5>
                  <h3>36 Rue du Vieux Marché aux Poissons</h3>
                  <div class="fil-ariane">
                      <a href="#">France</a> > <a href="#">Strasbourg</a>
                  </div>
                  <p>
                      The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance upon thee.
                  </p>
                  <a href="#">Découvrez la fiche ></a>
              </div>
          </article>
          <article>
              <p id="headline">>Retrouvez à travers nos 11 257 adresses et 61 652 photos :</p>
              <input type="text" placeholder="Indiquez une adresse, un nom de rue ou un bâtiment"/>
              <button class="fa fa-search"></button>
              <a href="#">recherche avacée</a>
          </article>
          <article>
             <div id="about-us">
                  <h3>Archi-Wiki, c'est qui ?</h3>
                  <p>
                      Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.
                  </p>
                  <p>
                      The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance upon thee.
                  </p>
                  <p>
                      Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?
                  </p>
                  <a href="#">Pour continuez, inscrivez-vous !</a>
              </div>
              <div id="last-news">
                  <h3>Dernière actualité de l'asssociation :<br/>Ode à la création, appel à la contribution</h3>
                  <p>
                      Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.
                      The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance upon thee.
                  </p>
                  <a href="#">Lire la suite ></a>
                  <a href="#">Découvrez les autres actualités ></a>
              </div>
          </article>
      </section>
      <section class="width-2-col">
          <article>
              <h2>Dernières modifications</h2>
              <div>
                  <img src="./assets/img/.jpg" alt="" />
                  <div>
                      <h3>36 rue Aubry-et-Rau</h3>
                      <div class="fil-ariane">
                          <a href="#">France</a> > <a href="#">Strasbourg</a>
                      </div>
                      <p>
                          Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit.
                      </p>
                      <a href="#">Consultez la fiche ></a>
                  </div>
              </div>
              <div>
                  <img src="./assets/img/.jpg" alt="" />
                  <div>
                      <h3>36 rue Aubry-et-Rau</h3>
                      <div class="fil-ariane">
                          <a href="#">France</a> > <a href="#">Strasbourg</a>
                      </div>
                      <p>
                          Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit.
                      </p>
                      <a href="#">Consultez la fiche ></a>
                  </div>
              </div>
              <div>
                  <img src="./assets/img/.jpg" alt="" />
                  <div>
                      <h3>36 rue Aubry-et-Rau</h3>
                      <div class="fil-ariane">
                          <a href="#">France</a> > <a href="#">Strasbourg</a>
                      </div>
                      <p>
                          Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit.
                      </p>
                      <a href="#">Consultez la fiche ></a>
                  </div>
              </div>
              <div>
                  <img src="./assets/img/.jpg" alt="" />
                  <div>
                      <h3>36 rue Aubry-et-Rau</h3>
                      <div class="fil-ariane">
                          <a href="#">France</a> > <a href="#">Strasbourg</a>
                      </div>
                      <p>
                          Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit.
                      </p>
                      <a href="#">Consultez la fiche ></a>
                  </div>
              </div>
              <div>
                  <img src="./assets/img/.jpg" alt="" />
                  <div>
                      <h3>36 rue Aubry-et-Rau</h3>
                      <div class="fil-ariane">
                          <a href="#">France</a> > <a href="#">Strasbourg</a>
                      </div>
                      <p>
                          Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit.
                      </p>
                      <a href="#">Consultez la fiche ></a>
                  </div>
              </div>
          </article>
          <button class="all-last-content">Tous les derniers commentaires</button>
      </section>


      <!-- ASIDE -->

      <aside class="width-1-col">
          <h2>Derniers commentaires</h2>
          <article>
              <h3>36 rue Aubry-et-Rau</h3>
              <div class="fil-ariane">
                  <a href="#">France</a> > <a href="#">Strasbourg</a>
              </div>
              <p>
                  Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit.
              </p>
              <a href="#">Consultez la fiche ></a>
          </article>
          <article>
              <h3>36 rue Aubry-et-Rau</h3>
              <div class="fil-ariane">
                  <a href="#">France</a> > <a href="#">Strasbourg</a>
              </div>
              <p>
                  Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit.
              </p>
              <a href="#">Consultez la fiche ></a>
          </article>
          <article>
              <h3>36 rue Aubry-et-Rau</h3>
              <div class="fil-ariane">
                  <a href="#">France</a> > <a href="#">Strasbourg</a>
              </div>
              <p>
                  Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit.
              </p>
              <a href="#">Consultez la fiche ></a>
          </article>
          <article>
              <h3>36 rue Aubry-et-Rau</h3>
              <div class="fil-ariane">
                  <a href="#">France</a> > <a href="#">Strasbourg</a>
              </div>
              <p>
                  Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit.
              </p>
              <a href="#">Consultez la fiche ></a>
          </article>
          <article>
              <h3>36 rue Aubry-et-Rau</h3>
              <div class="fil-ariane">
                  <a href="#">France</a> > <a href="#">Strasbourg</a>
              </div>
              <p>
                  Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit.
              </p>
              <a href="#">Consultez la fiche ></a>
          </article>
          <button class="all-last-content">Tous les derniers commentaires</button>
      </aside>

      <!-- FOOTER -->

      <footer>
          <div class="footer-col-1">
              <img src="./assets/img/.png" alt=""/>
              <nav>
                  <ul>
                      <li>Nous contacter</li>
                      <li>Foires aux questions</li>
                      <li>Mentions légales</li>
                  </ul>
              </nav>
          </div>
          <div class="footer-col-2">
              <h5>Archi-Wiki est un projet financé et soutenu par :</h5>
              <p>Prévoir logo des partenaires, en défausses</p>
          </div>
          <div class="footer-col-3">
              <a href="#"><span class="fa fa-twiiter"></span> @archi-strasbourg</a>
              <a href="#"><span class="fa fa-facebook"></span>Archi.Strasbourg</a>
              <a href="#"><span class="fa fa-instagram-"></span>archi_strasbourg</a>
          </div>
      </footer>

    </div>
  </div>   <!--end Main Container -->
</body>

</html>
