<!DOCTYPE html>
<html lang='fr'>
<head>
  <title>SP - Intégration Web</title>
  <!-- bootstrap -->
	<link rel="stylesheet" href="stylesheets/bootstrap/css/bootstrap.min.css">
  <!-- personal style -->
	<link rel="stylesheet" href="stylesheets/css/style.css">
</head>

<body>
  <div class="main-container">  <!-- Main container -->

    <div class="container">  <!-- container -->

    <!-- HEADER -->
      <header>
        <div class="Header-Close"> <!--  Header -->

            <div class="logo">
                <h1 class="h1-like">Archi-Wiki</h1>
                <a href="#"><img src="https://gitlab.com/projet_int/integrationWeb/raw/master/images/black-logo_archi_wiki.png" alt="Logotype d'Archi Wiki en version noir" /></a>
                <p>Partageons la ville, ses batîments, ses lieux...</p>
            </div>
            <nav>
                <ul>
                    <li><a href="#">L'association</a></li>
                    <li><a href="#">Open Data</a></li>
                    <li><a href="#">Faire un don</a></li>
                    <li><a href="#">English</a></li>
                    <li><a href="#">Deutsch</a></li>
                </ul>
            </nav>
            <div class="nav-button">
                <ul>
                    <li><a href="#" class="search-button">&#xe003;</a></li>
                    <li><a href="#" class="menu-button menu-clicked"><span></span></a></li>
                </ul>
            </div>

        </div> <!-- end Header -->
      </header>
      <!-- SECTION 1 -->
        <section class="row" id="first-section">
            <article id="vedette">
                <img src="http://i-am-batman.alwaysdata.net/lp-atc/int%C3%A9gration-web-images/163H.jpg" alt=""/>
                <div>
                    <div class="title">
                        <h5 class="h5-like">Lumière sur...</h5>
                        <h3 class="h3-like">36 Rue du Vieux Marché aux Poissons</h3>
                        <div class="breadcrumb">
                            <a href="#">France</a><span>></span><a href="#">Strasbourg</a>
                        </div>
                    </div>
                    <p>
                        The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers.
                    </p>
                    <a href="#" class="link-more">Découvrez la fiche ></a>
                </div>
            </article>
            <article id="recherche">
                <form method="">
                    <label>Recherchez à travers nos 11 257 adresses et 61 652 photos :</label>
                    <input type="text" placeholder="Indiquez une adresse, un nom de rue ou un bâtiment"/>
                    <button class="glyphicon glyphicon-search"></button>
                    <a href="#" class="recherche-avance">recherche avacée</a>
                </form>
          </article>
     </section>
    <!-- SECTION 2 -->
    <section class="row" id="second-section">
        <article id="about-news">
            <div class="col-md-5" id="about-us">
                <h3 class="h3-like">Archi-Wiki, c'est qui ?</h3>
                <p>
                    Archi-Wiki est un site collaboratif fonctionnant sur le principe du wiki : offrir un contenu objectif et vérifiable, librement réutilisable, que chacun peut enrichir, modifier et améliorer.
                </p>
                <p>
                    L’objectif est de recenser les bâtiments et lieux d’une ville, en retraçant leur histoire à travers la date de construction, le nom de l’architecte, les transformations successives, ainsi que de nombreuses photos.
                </p>
                <p>
                    Archi-wiki a ainsi l’ambition de devenir une sorte de Wikipédia de l’architecture, en constituant une base de données en perpétuelle évolution.
                </p>
                <a href="#">Pour continuez, inscrivez-vous !</a>
            </div>

            <div class="col-md-7" id="last-news">
                <h3 class="h3-like">Dernière actualité de l'asssociation :<br/>Ode à la création, appel à la contribution</h3>
                <img class="col-md-4" src="http://i-am-batman.alwaysdata.net/lp-atc/int%C3%A9gration-web-images/164H.jpg" alt="" />
                <div class="col-md-8">
                    <p>
                      Ce qui nous intéresse ce n'est pas ce qui existe mais ce qui n'existe pas. Les bibliothèques sont remplies de livres, pourtant ce qui reste à écrire est infiniment plus important. Face à la matérialité du monde c'est pourtant le vide qui est bien plus immense et infini, source de création. Les chercheurs publient, trouvent et donnent de nouvelles pistes qui sont autant de recherches qui posent d'autres questions. Ainsi la quête de connaissance serait insatiable.
                    </p>
                    <a href="#">Lire la suite ></a>
                    <a href="#">Découvrez les autres actualités ></a>
                </div>
            </div>
        </article>
    </section>

    <!-- section 3 -->
    <section class="row" id="third-section">
        <!-- ARTICLE -->
        <article class="col-md-8" id="last-edit">
            <h2 class="h2-like">Dernières modifications</h2>
            <div class="col-md-6">
                <img src="http://i-am-batman.alwaysdata.net/lp-atc/int%C3%A9gration-web-images/165H.jpg" alt="" />
                <div class="edit-content">
                    <h3 class="h3-like">36 rue Aubry-et-Rau</h3>
                    <div class="breadcrumb">
                        <a href="#">France</a><span>></span><a href="#">Strasbourg</a>
                    </div>
                    <p>
                        Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit.
                    </p>
                    <a href="#" class="link-more">Consultez la fiche ></a>
                </div>
            </div>
            <div class="col-md-6">
                <img src="http://i-am-batman.alwaysdata.net/lp-atc/int%C3%A9gration-web-images/165H.jpg" alt="" />
                <div class="edit-content">
                    <h3 class="h3-like">36 rue Aubry-et-Rau</h3>
                    <div class="breadcrumb">
                        <a href="#">France</a><span>></span><a href="#">Strasbourg</a>
                    </div>
                    <p>
                        Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit.
                    </p>
                    <a href="#" class="link-more">Consultez la fiche ></a>
                </div>
            </div>
            <div class="col-md-6">
                <img src="http://i-am-batman.alwaysdata.net/lp-atc/int%C3%A9gration-web-images/165H.jpg" alt="" />
                <div class="edit-content">
                    <h3 class="h3-like">36 rue Aubry-et-Rau</h3>
                    <div class="breadcrumb">
                        <a href="#">France</a><span>></span><a href="#">Strasbourg</a>
                    </div>
                    <p>
                        Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit.
                    </p>
                    <a href="#" class="link-more">Consultez la fiche ></a>
                </div>
            </div>
            <div class="col-md-6">
                <img src="http://i-am-batman.alwaysdata.net/lp-atc/int%C3%A9gration-web-images/165H.jpg" alt="" />
                <div class="edit-content">
                    <h3 class="h3-like">36 rue Aubry-et-Rau</h3>
                    <div class="breadcrumb">
                        <a href="#">France</a><span>></span><a href="#">Strasbourg</a>
                    </div>
                    <p>
                        Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit.
                    </p>
                    <a href="#" class="link-more">Consultez la fiche ></a>
                </div>
            </div>
            <div class="col-md-6">
                <img src="http://i-am-batman.alwaysdata.net/lp-atc/int%C3%A9gration-web-images/165H.jpg" alt="" />
                <div class="edit-content">
                    <h3 class="h3-like">36 rue Aubry-et-Rau</h3>
                    <div class="breadcrumb">
                        <a href="#">France</a><span>></span><a href="#">Strasbourg</a>
                    </div>
                    <p>
                        Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit.
                    </p>
                    <a href="#" class="link-more">Consultez la fiche ></a>
                </div>
            </div>
        </article>
        <!-- ASIDE -->
        <aside class="col-md-4">
            <h2 class="h2-like">Derniers commentaires</h2>
            <article>
                <h4 class="h4-like">36 rue Aubry-et-Rau</h4>
                <div class="breadcrumb">
                    <a href="#">France</a><span>></span><a href="#">Strasbourg</a>
                </div>
                <p>
                    It's advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book: the most popular gun in American crime. Like they're actually proud of that shit.
                </p>
                <a href="#" class="link-more">Consultez le commentaire ></a>
            </article>
            <article>
                <h4 class="h4-like">36 rue Aubry-et-Rau</h4>
                <div class="breadcrumb">
                    <a href="#">France</a><a href="#">Strasbourg</a>
                </div>
                <p>
                    It's advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book: the most popular gun in American crime. Like they're actually proud of that shit.
                </p>
                <a href="#" class="link-more">Consultez le commentaire ></a>
            </article>
            <article>
                <h4 class="h4-like">36 rue Aubry-et-Rau</h4>
                <div class="breadcrumb">
                    <a href="#">France</a><span>></span><a href="#">Strasbourg</a>
                </div>
                <p>
                    It's advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book: the most popular gun in American crime. Like they're actually proud of that shit.
                </p>
                <a href="#" class="link-more">Consultez le commentaire ></a>
            </article>
            <article>
                <h4 class="h4-like">36 rue Aubry-et-Rau</h4>
                <div class="breadcrumb">
                    <a href="#">France</a><span>></span><a href="#">Strasbourg</a>
                </div>
                <p>
                    It's advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book: the most popular gun in American crime. Like they're actually proud of that shit.
                </p>
                <a href="#" class="link-more">Consultez le commentaire ></a>
            </article>
            <article>
                <h4 class="h4-like">36 rue Aubry-et-Rau</h4>
                <div class="breadcrumb">
                    <a href="#">France</a><span>></span><a href="#">Strasbourg</a>
                </div>
                <p>
                    It's advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book: the most popular gun in American crime. Like they're actually proud of that shit.
                </p>
                <a href="#" class="link-more">Consultez le commentaire ></a>
            </article>
        </aside>
    </section>
    <div class="row button">
        <div class="col-md-8">
            <button type="button" name="button">toutes les dernières modifications</button>
        </div>
        <div class="col-md-4">
            <button type="button" name="button">tous les derniers commentaires</button>
        </div>
    </div>

        <!-- SECTION 4 -->  <!-- FOOTER -->
    <section class="Footer-section row">
        <footer>
            <!-- left -->
            <div class="col-md-4 Foo-left">
                <img src="http://i-am-batman.alwaysdata.net/lp-atc/int%C3%A9gration-web-images/white-logo_archi_wiki.png" alt=""/>
                <nav>
                    <ul>
                        <li><a href="#">Nous contacter</a></li>
                        <li><a href="">Foires aux questions</a></li>
                        <li><a href="">Mentions légales</a></li>
                    </ul>
                </nav>
            </div>
            <!-- center -->
            <div class="col-md-4 Foo-center">
                <h5 class="h5-like-invert">Archi-Wiki est un projet financé et soutenu par :</h5>
                <p>Prévoir logo des partenaires, en défausses</p>
            </div>
            <!-- right -->
            <div class="col-md-4 Foo-right">
                <a href="#"><span class="fa fa-twiiter"></span> @archi-strasbourg</a>
                <a href="#"><span class="fa fa-facebook"></span>Archi.Strasbourg</a>
                <a href="#"><span class="fa fa-instagram-"></span>archi_strasbourg</a>
            </div>
        </footer>
    </section>
    </div>
  </div>   <!--end Main Container -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="stylesheets/bootstrap/js/on-click-menu-button.js"></script>
</body>

</html>
