@import url("https://fonts.googleapis.com/css?family=Fira+Mono|Montserrat:600,700|Open+Sans:400,400i,600");
@import url("../bootstrap/fonts/glyphicons-halflings-regular.woff2");
@import url("../bootstrap/css/font-awesome.css");
.iconcomment {
  font-family: archiwiki-icons;
  font-size: 150px;
  color: rgba(235, 235, 235, 0.45);
}

.h1-like {
  font-family: "Montserrat";
  font-size: 39px;
  font-weight: 700;
  line-height: 1.28;
  color: #34414a;
}

.h2-like {
  font-family: "Montserrat";
  font-size: 31px;
  font-weight: 700;
  line-height: 1.29;
  color: #34414a;
}

.icon {
  font-family: archiwiki-icons;
  font-size: 30px;
  color: #34414a;
}

.h3-likeinvert {
  font-family: "Montserrat";
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  color: #ebebeb;
}

.label, article.recherche label {
  font-family: "Montserrat";
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  color: #ebebeb;
}

.h3-like, .row article#vedette div .title .h3-like {
  font-family: "Montserrat";
  font-size: 25px;
  font-weight: 700;
  line-height: 1.32;
  margin: 0;
  color: #34414a;
}

.h4-like {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3;
  padding: 30px 30px 0 30px;
  margin: 0;
  color: #34414a;
}

.h4-likeinvert {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3;
  color: #273746;
}

.bandeauicon {
  font-family: archiwiki-icons;
  font-size: 20px;
  text-align: center;
  color: #d96e5d;
}

.h3-likemobile {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 700;
  line-height: 1.22;
  color: #273746;
}

.h3-likemobilealign-center {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 700;
  line-height: 1.22;
  text-align: center;
  color: #273746;
}

.h3-likeinvertmobile {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: #ebebeb;
}

.buttonlarge {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #34414a;
}

.social-link {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  color: #fafafa;
}

.title-sub-menu, .sub-menu ul.col-md-3 li:nth-child(1),
.sub-menu ul.col-md-7 li:nth-child(1) {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  color: #fafafa;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.nav-linkinvert, .sub-menu ul li {
  font-family: "Open Sans";
  font-size: 18px;
  color: #fafafa;
}

.h5-likeinvert, footer .Foo-center h5 {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 600;
  line-height: 1.31;
  text-align: center;
  color: #fafafa;
  letter-spacing: 0.75px;
}

.h5-like, .row article#vedette div .title .h5-like {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 700;
  line-height: 1.31;
  color: #34414a;
}

textarea {
  font-family: "Fira Mono";
  font-size: 16px;
  line-height: 1;
  text-align: left;
  color: #222a30;
}

.linkhover {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #be6152;
}

.link {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #a65447;
}

p {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #222a30;
}

a {
  font-family: "Open Sans";
}

.buttonlargemobile {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #34414a;
}

.databox__info {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  color: #34414a;
}

.pmobile {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.43;
  text-align: left;
  color: #222a30;
}

.cat-linkssmallmobile {
  font-family: "Open Sans";
  font-size: 14px;
  color: #a65447;
}

.cat-linkssmall {
  font-family: "Open Sans";
  font-size: 14px;
  color: #a65447;
}

.linksmallfade {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.71;
  text-align: right;
  color: #a65447;
}

.linkcontrib {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.71;
  text-align: right;
  color: #a65447;
}

.nav-linkfooter, footer div.Foo-left nav ul li a, footer div.Foo-left nav ul li a:hover, footer div.Foo-left .Header-Close nav ul li li, .Header-Close footer div.Foo-left nav ul li li {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  color: #fafafa;
}

.figcaption {
  font-family: "Open Sans";
  font-size: 14px;
  text-align: center;
  color: #465763;
}

.psmall {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  color: #465763;
}

.Text-Style {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  color: #a65447;
}

.nav-linkinverted {
  font-family: "Open Sans";
  font-size: 14px;
  text-align: center;
  color: #fafafa;
}

.pcommentairesmall, #third-section aside article p {
  font-family: "Open Sans";
  font-size: 14px;
  font-style: italic;
  line-height: 1.71;
  color: #465763;
}

.h5-likeinvertmobile {
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: bold;
  line-height: 1.75;
  color: #fafafa;
}

.h5-likemobile {
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 700;
  line-height: 1.75;
  color: #273746;
}

.databox__label {
  font-family: "Open Sans";
  font-size: 12px;
  color: #465763;
}

.linksmallmobile {
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  color: #a65447;
}

.linkcontribsmall {
  font-family: "Open Sans";
  font-size: 10px;
  line-height: 1.5;
  text-align: center;
  color: #a65447;
}

.logo-defausse, footer .Foo-center p {
  font-family: "Fira Mono";
  font-size: 16px;
  text-align: center;
  color: #fafafa;
}

.inline-flex, .Header-Close, .Header-Close nav, .Header-Close nav ul, .Header-Close .nav-button, .Header-Close .nav-button ul {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.flex-row-layout, #third-section {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.flex-column-layout, .row {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}

.reset-padding, .breadcrumb a, .Header-Close nav ul, header div.col-md-12, #third-section article[id="last-edit"], #third-section article[id="last-edit"] .col-md-6, #third-section article[id="last-edit"] .col-md-12, #third-section article[id="last-edit"] .article:nth-of-type(1) div, #third-section aside, #third-section aside article, div.button div, footer div.Foo-left, footer div.Foo-left nav ul, footer .Foo-center, footer .Foo-center h5, footer .Foo-center p, footer .Foo-right {
  padding: 0;
}

.border-form, article.recherche input[type="text"], article.recherche button {
  border: solid 2px #d96e5d;
}

.edit-content, #third-section aside article {
  background: #fff;
  padding-bottom: 30px;
}

.glyphicons-button, .Header-Close .nav-button ul li a.search-button {
  font-family: 'Glyphicons Halflings';
}

.button-text, .button-more-info, div.button div button, div.button div button:hover, .button-social-media, footer .Foo-right a {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

.button-more-info, div.button div button, div.button div button:hover {
  margin: auto;
  padding: 12px 20px;
  text-transform: uppercase;
  background: transparent;
  border: solid 2px rgba(70, 87, 99, 0.65);
  color: #34414a;
}

.button-social-media, footer .Foo-right a {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 52%;
  padding: 15px;
  text-transform: lowercase;
  background: transparent;
  border: solid 2px #fafafa;
  color: #fafafa;
}

a:hover, .Header-Close nav ul li {
  color: #a65447;
  text-decoration: none;
}

.breadcrumb {
  margin: 5px 30px;
}
.breadcrumb span {
  padding: 0 7px;
}

body {
  background: #fafafa;
  margin: 0 auto;
}

header {
  position: relative;
}

.Header-Close {
  width: 1280px;
  height: 150px;
}
.Header-Close .logo {
  display: flex;
  flex-flow: column wrap;
  width: 22%;
  margin: auto 0 auto 20px;
  padding-top: 10px;
}
.Header-Close .logo h1 {
  display: none;
}
.Header-Close .logo img {
  width: 80%;
}
.Header-Close .logo p {
  font-size: 13px;
  color: rgba(70, 87, 99, 0.85);
}
.Header-Close nav {
  width: 56%;
  padding: 0;
}
.Header-Close nav ul {
  width: 100%;
  list-style: none;
  margin: 0;
}
.Header-Close nav ul li {
  display: flex;
  height: 100%;
  margin: 0 auto 0 auto;
}
.Header-Close nav ul li a {
  margin: auto;
}
.Header-Close nav a {
  font-size: 18px;
  text-align: center;
  color: #34414a;
  text-transform: uppercase;
  transition: color 0.2s ease-in-out;
}
.Header-Close nav a:hover, .Header-Close nav ul li {
  color: #a65447;
  text-decoration: none;
}
.Header-Close .nav-button {
  width: 22%;
}
.Header-Close .nav-button ul {
  width: 100%;
  list-style: none;
  padding: 0;
}
.Header-Close .nav-button ul li {
  margin: auto;
}
.Header-Close .nav-button ul li a.search-button {
  font-size: 26px;
  color: #34414a;
}
.Header-Close .nav-button ul li a.menu-button {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
}
.Header-Close .nav-button ul li a.menu-button span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 30px;
  height: 3px;
  background: #34414a;
}
.Header-Close .nav-button ul li a.menu-button span::before, .Header-Close .nav-button ul li a.menu-button span::after {
  content: '';
  width: 30px;
  height: 3px;
  background: #34414a;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.2s ease-in-out;
}
.Header-Close .nav-button ul li a.menu-button span::before {
  transform: translateY(-8px);
}
.Header-Close .nav-button ul li a.menu-button span::after {
  transform: translateY(8px);
}
.Header-Close .nav-button ul li a.menu-button:hover span::before, .Header-Close .nav-button nav ul li li.menu-button span::before, .Header-Close nav .nav-button ul li li.menu-button span::before {
  transform: translateY(-9px);
}
.Header-Close .nav-button ul li a.menu-button:hover span::after, .Header-Close .nav-button nav ul li li.menu-button span::after, .Header-Close nav .nav-button ul li li.menu-button span::after {
  transform: translateY(9px);
}
.Header-Close .nav-button ul li a.menu-button::after {
  content: 'Menu';
  position: absolute;
  top: 45px;
  left: -13%;
  font-size: 18px;
  color: #34414a;
  text-transform: uppercase;
}
.Header-Close .nav-button ul li a.menu-opened span {
  background: transparent;
  transition: background 0.2s ease-in-out;
}
.Header-Close .nav-button ul li a.menu-opened span::before {
  transform: translateY(0) rotate(45deg);
}
.Header-Close .nav-button ul li a.menu-opened span::after {
  transform: translateY(0) rotate(-45deg);
}
.Header-Close .nav-button ul li a.menu-opened:hover span, .Header-Close .nav-button nav ul li li.menu-opened span, .Header-Close nav .nav-button ul li li.menu-opened span {
  background: #34414a;
  transition-delay: 0.2s;
}
.Header-Close .nav-button ul li a.menu-closed span {
  background: #34414a;
  transition: background 0.2s ease-in-out;
}
.Header-Close .nav-button ul li a.menu-closed span::before {
  transform: translateY(-8px) rotate(0);
}
.Header-Close .nav-button ul li a.menu-closed span::after {
  transform: translateY(8px) rotate(0);
}

.sub-menu {
  display: flex;
  background: #455763;
  color: #fafafa;
}
.sub-menu ul {
  list-style: none;
  padding: 0 0 0 40px;
  margin: 40px 0;
}
.sub-menu a {
  color: #fafafa;
}
.sub-menu ul li {
  margin-bottom: 10px;
}
.sub-menu ul.col-md-2 li:nth-child(1) {
  display: block;
  width: 75%;
  margin: 0 auto 30px auto;
}
.sub-menu ul.col-md-2 li:nth-child(1) img {
  width: 100%;
  border-radius: 50%;
  border: solid 5px #fafafa;
}
.sub-menu ul.col-md-2 {
  padding: 0 40px 0 0;
}
.sub-menu ul.col-md-2 li {
  text-align: center;
}

.sub-block-closed {
  display: none;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-25%);
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}

.sub-block-opened {
  position: absolute;
  top: 0;
  display: flex;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: transform 0.2s ease-in, opacity 0.2s ease-in;
}

article.recherche {
  width: 100%;
  position: relative;
  background: #a65447;
}
article.recherche form {
  display: inline-flex;
  flex-flow: row wrap;
  width: 100%;
}
article.recherche label {
  width: 100%;
  padding: 20px 0 10px 0;
  letter-spacing: 1px;
}
article.recherche input[type="text"] {
  width: 47%;
  font-size: 16px;
  font-style: italic;
  line-height: 1.2;
  padding: 13px 20px 12px 22px;
  margin: 0 0 40px auto;
  background: #fafafa;
}
article.recherche input[type="text"]:focus {
  font-style: normal;
}
article.recherche button {
  position: inherit;
  font-size: 20px;
  padding: 12px 20px;
  margin: 0 auto 40px 0;
  background: #fafafa;
  border-left: solid 0px transparent;
}
article.recherche a {
  position: absolute;
  top: 84px;
  right: 160px;
  color: #fafafa;
}

.row {
  width: 1280px;
  margin: 0;
}
.row p {
  margin: 0;
  padding: 15px 30px;
}
.row a {
  color: #a65447;
  text-decoration: underline;
  transition: text-decoration 0.2s ease-in-out, color 0.2s ease-in-out;
}
.row a.link-more {
  padding-left: 30px;
  padding-bottom: 30px;
}
.row a:hover, .row .Header-Close nav ul li, .Header-Close nav ul .row li {
  text-decoration: none;
  color: #34414a;
}
.row article#vedette {
  display: inline-flex;
  flex-flow: row wrap;
  align-items: flex-start;
  background: #fff;
  position: relative;
}
.row article#vedette img {
  padding: 0px;
}
.row article#vedette div {
  padding: 0px;
}
.row article#vedette div .title {
  width: 100%;
  background: #fff;
  position: relative;
  top: 0;
  right: 21%;
  padding: 1px 0 30px 30px;
}
.row article#vedette div .title .h5-like {
  margin: 30px 0 10px 0;
}
.row article#vedette div .title .breadcrumb {
  margin-left: 0;
}
.row article#about-news {
  display: flex;
}
.row article#about-news div#about-us {
  background: #ebebeb;
  padding: 30px;
}
.row article#about-news div#about-us h3 {
  padding: 0 0 15px 0;
  margin: 0;
}
.row article#about-news div#about-us p {
  padding: 0 0 15px 0;
}
.row article#about-news div#about-us a {
  padding: 0;
}
.row article#about-news div#last-news {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  background: #fff;
  padding: 30px 30px 0 0;
}
.row article#about-news div#last-news h3 {
  padding: 0 30px 30px 30px;
  margin: 0;
}
.row article#about-news div#last-news img {
  align-self: flex-end;
  width: 35%;
  padding: 0 15px 0 0;
}
.row article#about-news div#last-news div {
  width: 64.666667%;
}
.row article#about-news div#last-news div p {
  padding: 0 0 15px 0;
}
.row article#about-news div#last-news div a {
  padding: 0;
}
.row article#about-news div#last-news div a:nth-child(3) {
  float: right;
}

#third-section article[id="last-edit"] .col-md-6 {
  margin-bottom: 30px;
}
#third-section article[id="last-edit"] .col-md-6 img {
  width: 100%;
}
#third-section article[id="last-edit"] .col-md-6 h3 {
  padding: 30px 30px 0 30px;
  position: relative;
}
#third-section article[id="last-edit"] .col-md-6 a {
  margin-bottom: 30px;
}
#third-section article[id="last-edit"] .col-md-12 {
  position: relative;
  margin-bottom: 30px;
}
#third-section article[id="last-edit"] .col-md-12 h3 {
  position: relative;
  padding: 30px 30px 0 30px;
}
#third-section article[id="last-edit"] .col-md-12 a {
  padding: 30px 0px 10px 0px;
}
#third-section article[id="last-edit"] .col-md-12 img {
  width: 67%;
}
#third-section article[id="last-edit"] .col-md-12 .edit-content, #third-section article[id="last-edit"] .col-md-12 aside article, #third-section aside article[id="last-edit"] .col-md-12 article {
  position: absolute;
  top: 0;
  right: 0;
  left: 48%;
  bottom: 0;
}
#third-section article[id="last-edit"] .col-md-12 .edit-content .h3-like::before, #third-section article[id="last-edit"] .col-md-12 aside article .h3-like::before, #third-section aside article[id="last-edit"] .col-md-12 article .h3-like::before, #third-section article[id="last-edit"] .col-md-12 aside .row article#vedette div .title .h3-like::before, .row #third-section article[id="last-edit"] .col-md-12 aside article#vedette div .title .h3-like::before, #third-section aside article[id="last-edit"] .col-md-12 .row article#vedette div .title .h3-like::before, .row #third-section aside article[id="last-edit"] .col-md-12 article#vedette div .title .h3-like::before, #third-section article[id="last-edit"] .col-md-12 .edit-content .h3-like::after, #third-section article[id="last-edit"] .col-md-12 aside article .h3-like::after, #third-section aside article[id="last-edit"] .col-md-12 article .h3-like::after, #third-section article[id="last-edit"] .col-md-12 aside .row article#vedette div .title .h3-like::after, .row #third-section article[id="last-edit"] .col-md-12 aside article#vedette div .title .h3-like::after, #third-section aside article[id="last-edit"] .col-md-12 .row article#vedette div .title .h3-like::after, .row #third-section aside article[id="last-edit"] .col-md-12 article#vedette div .title .h3-like::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-40%);
  margin-left: -15px;
  border-top: 30px solid transparent;
  border-left: 0;
  border-right: 30px solid #fff;
  border-bottom: 30px solid transparent;
}
#third-section article[id="last-edit"] .col-md-6:nth-child(odd) {
  padding-right: 15px;
}
#third-section article[id="last-edit"] .col-md-6:nth-child(even) {
  padding-left: 15px;
}
#third-section article[id="last-edit"] .col-md-6:nth-child(odd) h3,
#third-section article[id="last-edit"] .col-md-6:nth-child(even) h3 {
  padding: 30px 30px 0 30px;
  position: relative;
}
#third-section article[id="last-edit"] .col-md-6:nth-child(odd) .h3-like::before,
#third-section article[id="last-edit"] .col-md-6:nth-child(odd) .h3-like::after,
#third-section article[id="last-edit"] .col-md-6:nth-child(even) .h3-like::before,
#third-section article[id="last-edit"] .col-md-6:nth-child(even) .h3-like::after {
  content: "";
  position: absolute;
  top: -15px;
  z-index: 99;
  left: 15px;
  margin-left: 0;
  border-top: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid #fff;
}
#third-section article[id="last-edit"] .article:nth-of-type(1) {
  overflow: hidden;
}
#third-section article[id="last-edit"] .article:nth-of-type(1) div a.link-more {
  padding-left: 30px;
}
#third-section aside {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  padding-left: 30px;
  position: relative;
}
#third-section aside article {
  margin-bottom: 30px;
  position: relative;
}
#third-section aside article .breadcrumb {
  margin-bottom: 0;
}
#third-section aside article a {
  margin-bottom: 30px;
}
#third-section aside article::before {
  content: '';
  position: absolute;
  left: 15px;
  bottom: 15px;
  width: 130px;
  height: 130px;
  opacity: 0.05;
  background-image: url("../../images/icon-bulle.png");
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotateZ(-5deg);
}

div.button {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  letter-spacing: 3px !important;
}
div.button div {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: space-around;
  margin: 30px auto;
}
div.button div button {
  letter-spacing: 1px;
  transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
}
div.button div button:hover {
  background: #34414a;
  color: #fff;
}

footer {
  display: inline-flex;
  flex-flow: row nowrap;
  align-content: space-between;
  width: 100%;
  background-color: #34414a;
  color: #fafafa;
  text-align: center;
  margin-top: 30px;
  padding: 30px 0;
}
footer div.Foo-left img {
  width: 50%;
}
footer div.Foo-left nav ul {
  list-style: none;
  margin-top: 30px;
}
footer div.Foo-left nav ul li {
  margin-bottom: 15px;
}
footer div.Foo-left nav ul li a {
  text-decoration: none;
}
footer div.Foo-left nav ul li a:hover, footer div.Foo-left .Header-Close nav ul li li, .Header-Close footer div.Foo-left nav ul li li {
  color: inherit;
  text-decoration: underline;
}
footer .Foo-center h5 {
  margin: 40px auto 70px auto;
}
footer .Foo-right {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
footer .Foo-right a {
  transition: background 0.2s ease-in-out;
}
footer .Foo-right a span {
  font-size: 30px;
  margin-right: 15px;
}
footer .Foo-right a:nth-child(2) {
  margin: 30px auto;
}
footer .Foo-right a:hover, footer .Foo-right .Header-Close nav ul li, .Header-Close nav ul footer .Foo-right li {
  background: #fafafa;
}

/*# sourceMappingURL=style.css.map */
