@import url("https://fonts.googleapis.com/css?family=Fira+Mono|Montserrat:700|Open+Sans:400,400i,600");
.iconcomment {
  font-family: archiwiki-icons;
  font-size: 150px;
  color: rgba(235, 235, 235, 0.45); }

.h1-like {
  font-family: "Montserrat";
  font-size: 39px;
  font-weight: bold;
  line-height: 1.28;
  color: #34414a;
  color: #34414a; }

.h2-like {
  font-family: "Montserrat";
  font-size: 31px;
  font-weight: bold;
  line-height: 1.29;
  color: #34414a;
  color: #34414a; }

.icon {
  font-family: archiwiki-icons;
  font-size: 30px;
  color: #34414a;
  color: #34414a; }

.h3-likeinvert {
  font-family: "Montserrat";
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: #ebebeb;
  color: #ebebeb; }

.label, .row article#recherche label {
  font-family: "Montserrat";
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: #ebebeb; }

.h3-like, .row article#vedette div .title .h3-like {
  font-family: "Montserrat";
  font-size: 25px;
  font-weight: bold;
  line-height: 1.32;
  margin: 0px 0 10px 0;
  color: #34414a; }

.h4-like {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: bold;
  line-height: 1.3;
  padding: 30px 30px 10px 30px;
  margin: 0;
  color: #34414a; }

.h4-likeinvert {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: bold;
  line-height: 1.3;
  color: #273746; }

.bandeauicon {
  font-family: archiwiki-icons;
  font-size: 20px;
  text-align: center;
  color: #d96e5d;
  color: #d96e5d; }

.h3-likemobile {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: bold;
  line-height: 1.22;
  color: #273746; }

.h3-likemobilealign-center {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: bold;
  line-height: 1.22;
  text-align: center;
  color: #273746; }

.h3-likeinvertmobile {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #ebebeb;
  color: #ebebeb; }

.buttonlarge {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #34414a;
  color: #34414a; }

.social-link {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  color: #fafafa;
  color: #fafafa; }

.nav-linkinvert {
  font-family: "Open Sans";
  font-size: 18px;
  color: #fafafa;
  color: #fafafa; }

.h5-likeinvert, footer .Foo-center h5 {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: bold;
  line-height: 1.31;
  text-align: center;
  color: #fafafa; }

.h5-like, .row article#vedette div .title .h5-like {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: bold;
  line-height: 1.31;
  color: #34414a; }

textarea {
  font-family: "Fira Mono";
  font-size: 16px;
  line-height: 1;
  text-align: left;
  color: #222a30; }

.linkhover {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #be6152; }

.link {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #a65447; }

p {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #222a30; }

.buttonlargemobile {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #34414a; }

.databox__info {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  color: #34414a; }

.pmobile {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.43;
  text-align: left;
  color: #222a30; }

.cat-linkssmallmobile {
  font-family: "Open Sans";
  font-size: 14px;
  color: #a65447; }

.cat-linkssmall {
  font-family: "Open Sans";
  font-size: 14px;
  color: #a65447; }

.linksmallfade {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.71;
  text-align: right;
  color: #a65447; }

.linkcontrib {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.71;
  text-align: right;
  color: #a65447; }

.nav-linkfooter, footer div.Foo-left nav ul li a {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  color: #fafafa; }

.figcaption {
  font-family: "Open Sans";
  font-size: 14px;
  text-align: center;
  color: #465763; }

.psmall {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  color: #465763; }

.Text-Style {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  color: #a65447;
  color: #a65447; }

.nav-linkinverted {
  font-family: "Open Sans";
  font-size: 14px;
  text-align: center;
  color: #fafafa;
  color: #fafafa; }

.pcommentairesmall, #third-section aside article p {
  font-family: "Open Sans";
  font-size: 14px;
  font-style: italic;
  line-height: 1.71;
  color: #465763; }

.h5-likeinvertmobile {
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: bold;
  line-height: 1.75;
  color: #fafafa;
  color: #fafafa; }

.h5-likemobile {
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: bold;
  line-height: 1.75;
  color: #273746; }

.databox__label {
  font-family: "Open Sans";
  font-size: 12px;
  color: #465763; }

.linksmallmobile {
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  color: #a65447;
  color: #a65447; }

.linkcontribsmall {
  font-family: "Open Sans";
  font-size: 10px;
  line-height: 1.5;
  text-align: center;
  color: #a65447;
  color: #a65447; }

.logo-defausse, footer .Foo-center p {
  font-family: "Fira Mono";
  font-size: 16px;
  text-align: center;
  color: #fafafa; }

.inline-flex, .Header-Close, .Header-Close nav, .Header-Close nav ul, .Header-Close .nav-button, .Header-Close .nav-button ul {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: space-between; }

.flex-row-layout, #third-section {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: flex-start; }

.flex-column-layout, .row {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start; }

.reset-padding, #third-section article#last-edit, #third-section article#last-edit .col-md-6, #third-section article#last-edit .col-md-6 .breadcrumb a, #third-section aside, #third-section aside article, #third-section aside article .breadcrumb a, div.button div, footer div.Foo-left, footer div.Foo-left nav ul, footer .Foo-center, footer .Foo-center h5, footer .Foo-center p, footer .Foo-right {
  padding: 0; }

.edit-content, #third-section article#last-edit .col-md-6:nth-child(2) div.edit-content, #third-section aside article {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  background: #fff; }

.button-text, .button-more-info, div.button div button, div.button div button:hover, .button-social-media, footer .Foo-right a {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  text-decoration: none; }

.button-more-info, div.button div button, div.button div button:hover {
  margin: auto;
  padding: 12px 20px;
  text-transform: uppercase;
  background: transparent;
  border: solid 2px rgba(70, 87, 99, 0.65);
  color: #34414a; }

.button-social-media, footer .Foo-right a {
  width: 75%;
  padding: 15px;
  text-transform: lowercase;
  background: transparent;
  border: solid 2px #fafafa;
  color: #fafafa; }

body {
  background: #fafafa;
  margin: 0 auto; }

.Header-Close {
  width: 1280px;
  height: 150px; }
  .Header-Close .logo {
    display: flex;
    flex-flow: column wrap;
    width: 22%;
    margin: auto 0 auto 20px;
    padding-top: 10px; }
    .Header-Close .logo h1 {
      display: none; }
    .Header-Close .logo img {
      width: 80%; }
    .Header-Close .logo p {
      font-size: 13px;
      color: rgba(70, 87, 99, 0.85); }
  .Header-Close nav {
    width: 56%;
    padding: 0; }
    .Header-Close nav ul {
      width: 100%;
      list-style: none;
      padding: 0; }
      .Header-Close nav ul li {
        margin: auto; }
    .Header-Close nav a {
      font-family: "Open Sans";
      font-size: 18px;
      text-align: center;
      color: #34414a; }
  .Header-Close .nav-button {
    width: 22%; }
    .Header-Close .nav-button ul {
      width: 100%;
      padding: 0; }
      .Header-Close .nav-button ul li {
        margin: auto; }

.row {
  width: 1280px;
  margin: 0; }
  .row p {
    margin: 0;
    padding: 15px 30px; }
  .row a {
    color: #a65447;
    text-decoration: underline;
    transition: text-decoration 0.2s ease-in-out, color 0.2s ease-in-out; }
  .row a.link-more {
    padding-left: 30px; }
  .row a:hover {
    text-decoration: none;
    color: #34414a; }
  .row article#vedette {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: flex-start;
    background: #fff;
    position: relative; }
    .row article#vedette img {
      width: 57%; }
    .row article#vedette div {
      width: 43%; }
      .row article#vedette div .title {
        width: 100%;
        background: #fff;
        position: relative;
        top: 0;
        right: 35%;
        padding: 1px 0 30px 30px; }
        .row article#vedette div .title .h5-like {
          margin: 30px 0 10px 0; }
        .row article#vedette div .title .breadcrumb span {
          padding: 0 7px; }
  .row article#recherche {
    width: 100%;
    background: #a65447; }
    .row article#recherche label {
      width: 100%;
      padding: 20px 0 10px 0;
      letter-spacing: 1px; }
  .row article#about-news div#about-us {
    background: #ebebeb;
    padding: 30px; }
    .row article#about-news div#about-us h3 {
      padding: 0 0 15px 0;
      margin: 0; }
    .row article#about-news div#about-us p {
      padding: 0 0 15px 0; }
    .row article#about-news div#about-us a {
      padding: 0; }
  .row article#about-news div#last-news {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    background: #fff;
    padding: 30px 30px 0 0; }
    .row article#about-news div#last-news h3 {
      padding: 0 30px 30px 30px;
      margin: 0; }
    .row article#about-news div#last-news img {
      width: 35.333333%;
      padding: 0 15px 0 0; }
    .row article#about-news div#last-news div {
      width: 64.666667%; }
      .row article#about-news div#last-news div p {
        padding: 0 0 15px 0; }
      .row article#about-news div#last-news div a {
        padding: 0; }
      .row article#about-news div#last-news div a:nth-child(3) {
        float: right; }

#third-section article#last-edit {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start; }
  #third-section article#last-edit .col-md-6 {
    margin-bottom: 30px; }
    #third-section article#last-edit .col-md-6 img {
      width: 100%; }
    #third-section article#last-edit .col-md-6 h3 {
      padding: 30px 30px 10px 30px; }
    #third-section article#last-edit .col-md-6 a {
      margin-bottom: 30px; }
    #third-section article#last-edit .col-md-6 .breadcrumb {
      margin-left: 30px; }
      #third-section article#last-edit .col-md-6 .breadcrumb span {
        padding: 0 7px; }
  #third-section article#last-edit .col-md-6:nth-child(odd) {
    padding-right: 15px; }
  #third-section article#last-edit .col-md-6:nth-child(even) {
    padding-left: 15px; }
  #third-section article#last-edit .col-md-6:nth-child(2) {
    width: 100%;
    position: relative;
    padding: 0; }
    #third-section article#last-edit .col-md-6:nth-child(2) img {
      width: 69%; }
    #third-section article#last-edit .col-md-6:nth-child(2) div.edit-content {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 50%; }

#third-section aside {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  padding-left: 30px; }
  #third-section aside article {
    margin-bottom: 30px; }
    #third-section aside article a {
      margin-bottom: 30px; }
    #third-section aside article .breadcrumb {
      padding-left: 30px; }
      #third-section aside article .breadcrumb span {
        padding: 0 7px; }

div.button {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center; }
  div.button div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: space-around;
    margin: 30px auto; }
    div.button div button {
      transition: color 0.2s ease-in-out, background 0.2s ease-in-out; }
    div.button div button:hover {
      background: #34414a;
      color: #fff; }

footer {
  display: inline-flex;
  flex-flow: row nowrap;
  align-content: space-between;
  width: 100%;
  background-color: #34414a;
  color: #fafafa;
  text-align: center;
  margin-top: 30px;
  padding: 30px; }
  footer div.Foo-left img {
    width: 50%; }
  footer div.Foo-left nav ul {
    list-style: none;
    margin-top: 30px; }
    footer div.Foo-left nav ul li {
      margin-bottom: 15px; }
      footer div.Foo-left nav ul li a {
        text-decoration: none; }
  footer .Foo-center h5 {
    margin: 40px auto 70px auto; }
  footer .Foo-right {
    display: flex;
    flex-flow: column wrap;
    align-items: center; }
    footer .Foo-right a {
      transition: background 0.2s ease-in-out; }
    footer .Foo-right a:nth-child(2) {
      margin: 30px auto; }
    footer .Foo-right a:hover {
      background: #fafafa; }
