// FOOTER


// VAR FONT
$montserrat: 'Montserrat';
$opensans: 'Open Sans';
$firamono: 'Fira Mono';

// VAR COLOR
$sea: #32a398;
$greeny-blue: #3abdaf;
$aqua-marine: #42d7c8;
$slate: #455763;
$charcoal-grey: #34414a;
$adobe: #be6152;
$earth: #a65447;
$greyblue: #63b7ba;
$dark-peach: #d96e5d;
$seafoam-blue: #70cfd3;
$white: #d2d2d2;
$greyish: #b8b8b8;
$white-two: #ebebeb;
$tiffany-blue: #7eeaee;
$white-three: #fafafa;
$pure-white: #fff;
$dark: #222a30;
$slate-85: rgba(70, 87, 99, 0.85);

// VAR COLOR ADD
$blue-grey:  #273746;
