.Header-Close{
    @extend .inline-flex;
    width: 1280px;
    height: 150px;

    .logo{
        display: flex;
        flex-flow: column wrap;
        width:22%;
        margin: auto 0 auto 20px;
        padding-top: 10px;

        h1{
            display: none;
        }

        img{
            width: 80%;
        }

        p{
            font-size: 13px;
            color: $slate-85;
        }
    }

    nav {
        margin-top: 62.500px;
        // @extend .inline-flex;
        width:56%;
        padding: 0;

        ul{
            @extend .inline-flex;
            width: 100%;
            list-style: none;
            @extend .reset-padding;
            margin: 0;

            li{
                display: flex;
                height: 100%;
                margin: 0 auto 0 auto;

                a{
                    margin: auto;
                }
                @extend a:hover;
            }
        }

        a{
            font-size: 18px;
            text-align: center;
            color: $charcoal-grey;
            text-transform: uppercase;
            transition: color 0.2s ease-in-out;

            &:hover{
                color: $earth;
                text-decoration: none;
            }
        }
    }

    .nav-button{
        // @extend .inline-flex;
        margin-top: 62.500px;
        width: 22%;
        ul{
            @extend .inline-flex;
            margin: 0px;
            width: 100%;
            list-style: none;
            padding: 0;
            li{
                margin: auto;
                a.search-button{
                    @extend .glyphicons-button;
                    font-size: 26px;
                    color: $charcoal-grey;
                }
                a.menu-button{
                	display: block;
                    position: relative;
                    width: 40px;
                    height: 40px;
                    span{
                        display: block;
                        position: absolute;
	                    top: 50%;
	                    left: 50%;
	                    transform: translateY(-50%) translateX(-50%);
                        width: 30px;
                        height: 3px;
                        background: $charcoal-grey;
                        &::before, &::after{
                            content: '';
                            width: 30px;
                            height: 3px;
                            background: $charcoal-grey;
                            position: absolute;
	                        top: 0;
	                        left: 0;
                            transition: transform 0.2s ease-in-out;
                        }
                        &::before{
                            transform: translateY(-8px);
                        }
                        &::after{
                            transform: translateY(8px);
                        }
                    }
                    &:hover{
                        span::before{
                            transform: translateY(-9px);
                        }
                        span::after{
                            transform: translateY(9px);
                        }
                    }

                }
                a.menu-button::after{
                  content: 'Menu';
	                position: absolute;
	                top: 45px;
	                left: -13%;
	                font-size: 18px;
	                color: #34414a;
	                text-transform: uppercase;
                }
                a.menu-opened{
                    span{
                        background: transparent;
                        transition: background 0.2s ease-in-out;
                    }
                    span::before{
                        transform: translateY(0) rotate(45deg);
                    }
                    span::after{
                        transform: translateY(0) rotate(-45deg);
                    }

                    &:hover{
                        span{
                            background: $charcoal-grey;
                            transition-delay: 0.2s;
                        }
                    }

                }

                a.menu-closed{
                    span{
                        background: $charcoal-grey;
                        transition: background 0.2s ease-in-out;
                    }
                    span::before{
                        transform: translateY(-8px) rotate(0);
                    }
                    span::after{
                        transform: translateY(8px) rotate(0);
                    }
                }

            }
            
            li:nth-child(2){
                margin-top: -15px;
            }
        }
    }
}

.sub-menu{
    background: $slate;
    color: $white-three;
    ul{
        list-style: none;
        padding: 0 0 0 40px;
        margin: 40px 0;
    }

    a{
        color: $white-three;
    }

    ul li{
        @extend .nav-linkinvert;
        margin-bottom: 10px;
    }

    ul.col-md-3 li:nth-child(1),
    ul.col-md-7 li:nth-child(1){
        @extend .title-sub-menu;
    }

    ul.col-md-2 li:nth-child(1){
        display: block;
        width: 75%;
		margin: 0 auto 30px auto;

        img{
            width: 100%;
	        border-radius: 50%;
        	border: solid 5px #fafafa;
        }
    }

    ul.col-md-2{
        padding: 0 40px 0 0;
    }

    ul.col-md-2 li{
        text-align: center;
    }

}

#sub-search{
    display: none;
}

.sub-block-closed{
    display: none;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-25%);
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}

.sub-block-opened{
    position: absolute;
    top: 150px;
    display: flex;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition: transform 0.2s ease-in, opacity 0.2s ease-in;
}
