// IMPORT
@import 'font.scss';
@import 'color.scss';
@import 'basic-styles.scss';


// BODY
body{
    background: #fafafa;
    margin: 0 auto;
}

@import 'header.scss';

article.recherche{
    width: 100%;
    position: relative;
    background: $earth;

    form{
        display: inline-flex;
        flex-flow: row wrap;
        width: 100%;
       }

    label{
        @extend .label;
        width: 100%;
        padding: 20px 0 10px 0;
        letter-spacing: 1px;
       }
    input[type="text"]{
        width: 47%;
        font-size: 16px;
        font-style: italic;
        line-height: 1.2;
        padding: 13px 20px 12px 22px;
        margin: 0 0 40px auto;
        background: $white-three;
        @extend .border-form;

        &:focus{
            font-style: normal;
        }
    }
    button{
        position: inherit;
        font-size: 20px;
       	padding: 12px 20px;
        margin: 0 auto 40px 0;
        background: $white-three;
        @extend .border-form;
        border-left: solid 0px transparent;
        transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
        
    }
    button:hover{
        background: $earth;
        color: $white-three;
    }
    a{
        position: absolute;
        top: 84px;
        right: 160px;
        color: $white-three;
    }
}

.row {
    @extend .flex-column-layout;
    width: 1280px;
    margin: 0;

    p{
        margin: 0;
        padding: 15px 30px;
    }

    a{
        color:$earth;
        text-decoration: underline;
        transition: text-decoration 0.2s ease-in-out, color 0.2s ease-in-out;
    }

    a.link-more{
        padding-left: 30px;
        padding-bottom: 30px;
    }

    a:hover{
        text-decoration: none;
        color: $charcoal-grey;
    }

    article#vedette{
        background: $pure-white;
        position: relative;
        width: 100%;
        img{
            padding: 0px;
        }

        div{
            padding: 0px;

            .title{
                width: 100%;
                background: $pure-white;
	            position: relative;
	            top: 0;
	            right: 21%;
	            padding: 1px 0 30px 30px;

                .h3-like{
                    @extend .h3-like;
                }

                .h5-like{
                    @extend .h5-like;
                    margin: 30px 0 10px 0;
                }

                .breadcrumb{
                    margin-left: 0;
                }



            }
        }
    }

    article#about-news{
        width: 100%;
        display: flex;
        align-items: flex-end;
        div#about-us{
            background: $white-two;
            padding: 30px;

            h3{
            	padding: 0 0 15px 0;
	            margin: 0;
            }
            p{
                padding: 0 0 15px 0;
            }
            a{
                padding: 0;
            }
        }

        div#last-news{

            background: $pure-white;
            padding: 30px 30px 0 0;

            h3{
            	padding: 0 30px 30px 30px;
	            margin: 0;
            }
            img{
                width: 35%;
                padding: 0 15px 0 0;
            }

            div{
                width: 64.666667%;

                p{
                    padding: 0 0 15px 0;
                }

                a{
                    padding: 0;
                }

                a:nth-child(3){
                    float: right;
                }
            }
        }
    }
}

#third-section{
    @extend .flex-row-layout;

    article[id="last-edit"]{
        @extend .reset-padding;

        .col-md-6{
            @extend .reset-padding;
            margin-bottom: 30px;

            img{
                width: 100%;
            }
            h3{
                padding: 30px 30px 0 30px;
                position: relative;
            }

            a{
                margin-bottom: 30px;
            }

        }
        .col-md-12{
            @extend .reset-padding;
            position: relative;
            margin-bottom: 30px;
            h3{
                position: relative;
                padding: 30px 30px 0 30px;
            }
            a{
                padding: 30px 0px 10px 0px;
            }
            img{
                width: 67%;
            }
            .edit-content{
               position: absolute;
               top: 0;
               right: 0;
               left: 48%;
               bottom: 0;

                .h3-like::before, .h3-like::after{
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-40%);
                    margin-left: -15px;
                    border-top: 30px solid transparent;
                    border-left: 0;
                    border-right: 30px solid #fff;
                    border-bottom: 30px solid transparent;
                }
            }
          }

        .col-md-6:nth-child(odd){
            padding-right: 15px;
        }

        .col-md-6:nth-child(even){
            padding-left: 15px;
        }

        .col-md-6:nth-child(odd),
        .col-md-6:nth-child(even){
            h3{
                padding: 30px 30px 0 30px;
                position: relative;
            }

            .h3-like::before,
            .h3-like::after{
                content: "";
                position: absolute;
                top: -15px;
                z-index: 99;
	            left: 15px;
	            margin-left: 0;
	            border-top: 0;
	            border-left: 30px solid transparent;
	            border-right: 30px solid transparent;
              border-bottom: 30px solid #fff;
            }
        }

      .article:nth-of-type(1) {
        overflow: hidden;

          div{
          @extend .reset-padding;
              a.link-more{
                  padding-left: 30px;
              }
        }

      }
    }

    aside{
        // display: flex;
        // flex-flow: row wrap;
        // align-items: flex-start;
        @extend .reset-padding;
        padding-left: 30px;
        position: relative;

        article{
            @extend .edit-content;
            @extend .reset-padding;
            margin-bottom: 30px;
            position: relative;

            p{
                @extend .pcommentairesmall;
            }

            .breadcrumb{
                margin-bottom: 0;
            }

            a{
                margin-bottom: 30px;
            }
        }

        article::before{
            content: '';
            position: absolute;
            left: 15px;
            bottom: 15px;
            width: 130px;
            height: 130px;
            opacity: 0.05;
            background-image: url('../../images/icon-bulle.png');
            background-repeat: no-repeat;
            background-size: cover;
            transform: rotateZ(-5deg);
        }
    }
}

div.button{
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    letter-spacing: 3px!important;

    div{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        align-content: space-around;
        margin: 30px auto;
        @extend .reset-padding;

        button{
            @extend .button-more-info;
            letter-spacing: 1px;
            transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
        }

        button:hover{
            @extend .button-more-info;
            background: $charcoal-grey;
            color: $pure-white;
        }
    }
}

@import 'footer.scss';
