// IMPORT MONTSERRAT | OPEN SANS | FIRA MONO
@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Montserrat:700|Open+Sans:400,400i,600');

// VAR FONT
$montserrat: 'Montserrat';
$opensans: 'Open Sans';
$firamono: 'Fira Mono';